html, body{
	height: 100%;
}

#container{
	position:absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 45px;
}

#container.street {
	top: 92px !important;
}

#container.street,
#container.white {
	bottom: 79px !important;
}

#container > #map {
	position:absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.mapMenu {
	top: 346px;
}

.mapLegend {
	top: 295px;
}

.maplocation {
	top: 90px !important;
}

div.olControlAttribution {
	position: absolute;
	font-size: 10px;
	bottom: 0;
	right: 0;
	background: rgba(0, 0, 0, 0.1);
	font-family: Arial;
	padding: 2px 4px;
	border-radius: 5px 0 0 0;
}

div.olControlZoom,
div.olControlLegend,
div.olControlList,
div.olControlMyLocation {
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0.3);
	border-radius: 4px;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
	position: absolute;
}

div.olControlZoom {
	left: 10px;
    bottom: 65px;
}

div.olControlLegend {
    bottom: 20px;
    right: 10px;
}

div.olControlList {
    top: 10px;
    right: 10px;
}

div.olControlMyLocation {
    bottom: 20px;
    left: 10px;
}

div.olControlZoom a,
div.olControlLegend a,
div.olControlList a,
div.olControlMyLocation a {
	color: #333;
	display: block;
	font-family: sans-serif;
	font-size: 160%;
	font-weight: normal;
	height: 32px;
	line-height: 32px;
	padding: 0;
	text-align: center;
	text-decoration: none;
	width: 32px;
	margin: 1px;
	background: url('../img/bt_up_30px-height.png') repeat-x white;
}

div.olControlLegend a {
	background-size: 30px 30px;
	background: #FFF url(../img/map/map-icon-info.png) no-repeat 50% 50%;
}

div.olControlMyLocation a {
	background-size: 30px 30px;
	background: #FFF url(../img/map/map-icon-location.png) no-repeat 50% 50%;
}

div.olControlList a {
	font-size: 90%;
	font-weight: bold;
	background: url('../img/bt_up_30px-height.png') repeat-x white;
	color: #333;
	text-shadow: 0 1px -1px white;
	width: 50px;
}

a.olControlZoomIn {
    border-radius: 4px 4px 0 0;
}

a.olControlZoomOut {
    border-radius: 0 0 4px 4px;
}

a.olControlLegend,
a.olControlList,
a.olControlMyLocation {
    border-radius: 4px;
}

div.olControlZoom a:hover,
div.olControlLegend a:hover,
div.olControlList a:hover,
div.olControlMyLocation a:hover {
    background-color: #DCDCDC !important;
}

/******************************* White bar */
#whiteBar {
	background: url("../img/menu/sombra_menus_10px.png") repeat-x scroll left top #fff;
	position:absolute;
    	left: 0;
    	right: 0;
    	bottom: 0;
    	height: 80px;
}

#whiteBar nav{
	padding-top: 5px;
}

#whiteBar.addressBar span{
	background-image: url(../img/map/location-user-selected.png);
	background-repeat: no-repeat;
	background-position: center left;
	padding: 15px 0 15px 25px;
	font-size: 100%;
	margin-left: 10px;
	line-height: 30px;
}

#whiteBar.addressBar div {
	
}

#whiteBar.addressBar div > div{
	width: 50%;
	float: left;
	padding: 5px 10px;
}

#whiteBar.addressBar input[type="submit"],
#whiteBar.addressBar a{
	height: 30px;
	line-height: 30px;
	margin: 0 !important;
	font-size: 90%;
}

/******************************* Search Form */

#streetsearch > section {
	padding-bottom: 13px;
	background: url("../img/menu/sombra_menus_10px.png") repeat-x scroll left bottom transparent;
}

#streetSearchForm div.right {
	float: right;
	width: 70px;
}  

#streetSearchForm div.left {
	background: #FFF;
	border-radius: 12px;
	-webkit-border-radius: 12px;
	overflow: hidden;
	position: relative;
	margin: 0 10px;
	padding: 0 10px 0 10px;
	border: 1px solid rgba(0,0,0,0.3);
}


#streetSearchForm div.left > input{
	line-height: 24px;
	height: 24px;
	border: 0;
	font-size: normal;
	color: #333;
	width: 100%;
}

#streetSearchForm div.right > ul {
	float: right;
	padding-right: 10px;
}

#streetSearchForm div.right > ul li {
	float: left;
	text-align: center;		
}

#streetSearchForm div.right > ul li a {
	text-shadow: 0 1px -1px white;
	font-size: 90%;
	color: #333;
	font-weight: bold;
	border: 1px solid rgba(0, 0, 0, 0.6);
	background: url('../img/bt_up_30px-height.png');
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	padding: 5px 10px;
}

#streetSearchForm div.right > input.autocomplete{
	background: #fff url('../img/ajax-loader-input.gif') no-repeat 100% 50%;
}

#streetSearchForm div.left > div {
	background: #fff;
	padding: 12px;
	position: absolute;
	right: 10px;
	top: 0;
}

#streetSearchForm div.left > div.delete {
	background: #fff url('../img/clear.png') no-repeat right 50%;
	cursor: pointer;
}

/************************************ One column list */

nav.oneColumnList ul li {
	background: #FFF url(../img/seta.png) no-repeat 100% 50%;
	border-bottom: 1px solid #CCC;
}

nav.oneColumnList ul li a {
	display: block;
	height: 60px;
}

nav.oneColumnList  ul li a > div:nth-child(1) {
	float: left;
	width: 50px;
	line-height: 60px;
	display: block;
	text-align: center;
}

nav.oneColumnList  ul li a > div:nth-child(2) {
	font-weight: bold;
	color: #333;
	padding-right: 25px;
	text-align: left;
	vertical-align: center;
	height: 60px;
	line-height: 60px;
}

/******************************* Map Legend*/
#legend {
	padding-top: 10px;
}
#legend nav.simpleList ul li {
	background: none;
	padding-left: 10px;
	width: 100%;
}

#legend nav.simpleList ul li span {
	padding-left: 30px;
	display: block;
	height: 45px;
	width: 100%;
	text-align: left;
}

#legend nav.simpleList ul li:nth-child(1) span {
	background: #fff url(../img/map/location-user-selected.png) no-repeat 0 50%;
	background-size: 22px 30px; 
}

#legend nav.simpleList ul li:nth-child(2) span {
	background: #fff url(../img/map/location-car-selected.png) no-repeat 0 50%;
	background-size: 22px 30px;
}

#legend nav.simpleList ul li:nth-child(3) span {
	background: #fff url(../img/map/regular-zone.png) no-repeat 0 50%;
}

#legend nav.simpleList ul li:nth-child(4) span {
	background: #fff url(../img/map/undesirable-zone.png) no-repeat 0 50%;
}

#legend nav.simpleList ul li:nth-child(5) span {
	background: #fff url(../img/map/forbidden-zone.png) no-repeat 0 50%;
}

/* Enable 3d acceleration when operating on tiles, this is
   known to yield better performance on IOS Safari.
   http://osgeo-org.1803224.n2.nabble.com/Harware-accelerated-CSS3-animations-for-iOS-td6255560.html

   It also prevents tile blinking effects in iOS 5.
   See https://github.com/openlayers/openlayers/issues/511
*/
@media (-webkit-transform-3d) {
	img.olTileImage {
	    -webkit-transform: translate3d(0, 0, 0);
	}
}

@media screen and (-webkit-min-device-pixel-ratio: 1.5),
	screen and (min-device-pixel-ratio: 1.5),
	screen and (min-resolution: 1.5dppx) {

	div.olControlLegend a {
		background-image: url(../img/map/map-icon-info@2x.png);
	}
	
	div.olControlMyLocation a {
		background-image: url(../img/map/map-icon-location@2x.png);
	}
	
	#legend nav.simpleList ul li:nth-child(1) span {
		background: #fff url(../img/map/location-user-selected@2x.png) no-repeat 0 50%;
	}
	
	#legend nav.simpleList ul li:nth-child(2) span {
		background: #fff url(../img/map/location-car-selected@2x.png) no-repeat 0 50%;
	}
}




















