/* Apply a natural box layout model to all elements */
* {
    -webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

*:focus {
    outline: none;
}

/* all */
::-webkit-input-placeholder,
::-moz-placeholder,
input:-moz-placeholder {
	color:#333; 
	font-weight: normal;
}

textarea,
input[type="text"],
input[type="number"],
input[type="password"] {
	-webkit-appearance: none;
}

ul, li, h1 {
	padding: 0;
	margin: 0;
}

li {
	list-style: none;
}

a {
    text-decoration: none;
}

/* Main Elements */
body {
	background-color: #E4E4E4;
}

body.noBackground {
	background-color: transparent !important;
}

section#logo {
	height: 60px;
	width: 250px;
	margin: 10px auto;
	background-color: rgba(0, 0, 0, 0.5);
}

section#logo > div {
	height: 60px;
	width: 250px;
	text-align: center;
	display: table-cell;
	vertical-align: middle;
}

section h2 {
	margin: 0 15px 5px;
	font-size: 120%;
	font-weight: normal;
	color: #666;
	text-shadow: 0 1px 1px white;
}

section h3 {
	margin: 0 10px 5px;
	font-size: 100%;
	font-weight: normal;
	color: #666;
}

header {
	color: #FFF;
	line-height: 45px;
	text-align: center;
}

header > h1 {
    font-size: 130%;
    padding-right: 40px;
    text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.7);
}

section#footer {
	margin: 30px auto 0 auto;
	background-size: 197px 76px;
	background-image: url(../img/webapp-mobiag-logo-spash.png);
	background-repeat: no-repeat;
	background-position: center center;
	height: 76px;	
}

nav#menu ul li {
	color: #ccc;
	background-color: #515151;
	font-weight: bold;
	font-size: 100%;
	line-height: 45px;
	border-bottom: 1px solid #797979;
}

nav#menu ul li.booking {
	background-size: 40px 30px, 1px 20px;
	background-image: url(../img/menu/bookacar-inactive.png), url(../img/menu/sombra_menu_20px.png);
	background-repeat: no-repeat, repeat-x;
	background-position: 10px 50%, top left;
}

nav#menu ul li.bookingActive {
	background-size: 40px 30px, 1px 20px, 1px 45px;
	background-image: url(../img/menu/bookacar-active.png), url(../img/menu/sombra_menu_20px.png), url(../img/bt_down_45px.png);
	background-repeat: no-repeat, repeat-x, repeat-x;
	background-position: 10px 50%, top left, top left;
	color: #fff;
}

nav#menu ul li.trip {
	background-size: 40px 30px;
	background-image: url(../img/menu/trip-inactive.png);
	background-repeat: no-repeat;
	background-position: 10px 50%;
}

nav#menu ul li.tripActive {
	background-size: 40px 30px, 1px 45px;
	background-image: url(../img/menu/trip-active.png), url(../img/bt_down_45px.png);
	background-repeat: no-repeat, repeat-x;
	background-position: 10px 50%, top left;
	color: #fff;
}

nav#menu ul li.recent {
	background-size: 40px 30px;
	background-image: url(../img/menu/recent-inactive.png);
	background-repeat: no-repeat;
	background-position: 10px 50%;
}

nav#menu ul li.recentActive {
	background-size: 40px 30px, 1px 45px;
	background-image: url(../img/menu/recent-active.png), url(../img/bt_down_45px.png);
	background-repeat: no-repeat, repeat-x;
	background-position: 10px 50%, top left;
	color: #fff;
}

nav#menu ul li.messages {
	background-size: 40px 30px;
	background-image: url(../img/menu/messages-inactive.png);
	background-repeat: no-repeat;
	background-position: 10px 50%;
}

nav#menu ul li.messagesActive {
	background-size: 40px 30px, 1px 45px;
	background-image: url(../img/menu/messages-active.png), url(../img/bt_down_45px.png);
	background-repeat: no-repeat, repeat-x;
	background-position: 10px 50%, top left;
	color: #fff;
}

nav#menu ul li.bonus {
    background-size: 40px 30px;
    background-image: url(../img/menu/bonus-account-inactive.png);
    background-repeat: no-repeat;
    background-position: 10px 50%;
}

nav#menu ul li.bonusActive {
    background-size: 40px 30px, 1px 45px;
    background-image: url(../img/menu/bonus-account-active.png), url(../img/bt_down_45px.png);
    background-repeat: no-repeat, repeat-x;
    background-position: 10px 50%, top left;
    color: #fff;
}

nav#menu ul li.promotions {
    background-size: 40px 30px;
    background-image: url(../img/menu/promotions-inactive.png);
    background-repeat: no-repeat;
    background-position: 10px 50%;
}

nav#menu ul li.promotionsActive {
    background-size: 40px 30px, 1px 45px;
    background-image: url(../img/menu/promotions-active.png), url(../img/bt_down_45px.png);
    background-repeat: no-repeat, repeat-x;
    background-position: 10px 50%, top left;
    color: #fff;
}

nav#menu ul li.contacts {
	background-size: 40px 30px;
	background-image: url(../img/menu/contacts-inactive.png);
	background-repeat: no-repeat;
	background-position: 10px 50%;
}

nav#menu ul li.contactsActive {
	background-size: 40px 30px, 1px 45px;
	background-image: url(../img/menu/contacts-active.png), url(../img/bt_down_45px.png);
	background-repeat: no-repeat, repeat-x;
	background-position: 10px 50%, top left;
	color: #fff;
}

nav#menu ul li.preferences {
	background-size: 40px 30px;
	background-image: url(../img/menu/preferences-inactive.png);
	background-repeat: no-repeat;
	background-position: 10px 50%;
}

nav#menu ul li.preferencesActive {
	background-size: 40px 30px, 1px 45px;
	background-image: url(../img/menu/preferences-active.png), url(../img/bt_down_45px.png);
	background-repeat: no-repeat, repeat-x;
	background-position: 10px 50%, top left;
	color: #fff;
}

nav#menu ul li.account {
	background-size: 40px 30px;
	background-image: url(../img/menu/account-inactive.png), url(../img/menu/sombra_menu_20px_flipped.png);
	background-repeat: no-repeat, repeat-x;
	background-position: 10px 50%, bottom left;
	border-bottom: 0;
}

nav#menu ul li.accountActive {
	background-size: 40px 30px, 1px 45px;
	background-image: url(../img/menu/account-active.png), url(../img/menu/sombra_menu_20px_flipped.png), url(../img/bt_down_45px.png);
	background-repeat: no-repeat, repeat-x, repeat-x;
	background-position: 10px 50%, bottom left, top left;
	color: #fff;
}

nav#menu ul li a {
	display: block;
	color: inherit;
	padding-left: 60px;
}

/************************************************ Login */
form.loginForm {
	width: 250px;
	margin: 0 auto;
}

form.loginForm > div {
	background: #FFF;
	border: 1px solid #E5E5E5;
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3);
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}
form.loginForm > div > input  {
	width: 100%;
	padding-left: 10px;
	line-height: 45px;
	height: 45px;
	border: 0;
	border-top: 1px solid #e5e5e5;
	font-size: 100%;
	color: #333;
}


/* Util classes */
.clear {
    clear: both;
}

.hidden {
    display: none;
}

/* Application Classes */
.bottomShadow {
	height: 5px;
	background-color: transparent;
	background-image: url(../img/menu/sombra_menus_10px.png);
	background-position: top left;
	background-repeat: repeat-x;
	background-size: 1px 5px;
	margin-bottom: 5px;
}

.bottomShadowGray {
	background-color: #E4E4E4;
	margin-bottom: 0;
}

.bottomShadow2 {
	height: 5px;
	background-image: url(../img/menu/sombra_menus_10px.png);
	background-color: transparent;
	background-position: top left;
	background-repeat: repeat-x;
	background-size: 1px 5px;
	margin-bottom: 5px;
}


.menuBtn {
	width: 30px;
	height: 30px;
	border: 1px solid rgba(0, 0, 0, 0.3);
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	float: left;
	margin-top: 7px;
	margin-left: 10px;
	background-color: transparent;
	background-image: url(../img/bt_up_30px.png);
	background-position: top left;
	background-repeat: repeat-x;
	background-size: 28px 28px;
}

.menuBtn:active {
	border: 1px solid rgba(0, 0, 0, 0.5);
	background-color: transparent;
	background-image: url(../img/bt_down_30px.png);
	background-position: top left;
	background-repeat: repeat-x;
	background-size: 28px 28px;
}

.alertBtn,
.linkBtn {
	display: block;
	height: 45px;
	line-height: 45px;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	font-weight: bold;
	font-size: 110%;
	text-align: center;
	color: #FFF;
	text-shadow: 0px -1px 1px rgba(0, 0, 0, 0.5);
	border: 1px solid rgba(0, 0, 0, 0.3);	
	background-image: url(../img/bt_up_45px.png);
	background-size: 1px 45px;
	background-repeat: repeat-x;
	background-position: top left;
}

.linkBtn {
	margin: 0 10px 10px 10px;
}

.alertBtn {
	margin-bottom: 10px;
}

.alertBtn:active,
.linkBtn:active {
	border: 1px solid rgba(0, 0, 0, 0.5);
	background-image: url(../img/bt_down_45px.png);
	background-size: 1px 45px;
}

.bigBtn {
	background-color: #288b07;
	font-size: 180%;
	height: 90px;
	line-height: 90px;
	background-image: url(../img/bt_up_90px.png);
	background-size: 1px 90px;
}

.bigBtn:active {
	border: 1px solid rgba(0, 0, 0, 0.5);
	background-image: url(../img/bt_down_90px.png);
	background-size: 1px 90px;
}

span#nearestCar {
	background-size: 18px 38px;
	background-image: url(../img/links/nearest-car.png);
	background-repeat: no-repeat;
	background-position: 0 50%;
	padding-left: 30px;
}

section.submit {
	padding: 0 10px;
}

.submitBtn {
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	font-size: 120%;
    font-weight: bold;
	text-shadow: 0px -1px 1px rgba(0, 0, 0, 0.5);
	text-align: center;
	color: #FFF;
	height: 45px;
	line-height: 45px;
	width: 100%;
	display: block;
	border: 1px solid rgba(0, 0, 0, 0.3);
	background-color: lightgray;
	background-image: url(../img/bt_up_45px.png);
	background-size: 1px 45px;
	background-repeat: repeat-x;
	background-position: top left;
	margin-bottom: 10px;
	margin-top: 5px;
}

.submitBtn:active {
	background-image: url(../img/bt_down_45px.png);
	background-size: 1px 45px;
	border: 1px solid rgba(0, 0, 0, 0.5);
}

.green {
	background-color: #288b07;
}

.orangered {
	background-color: #DA4600;
}

.gray {
	background-color: #CFCFCF;
	color: #333;
	text-shadow: 0 1px 0 white;
}

.loginBtn {
	width: 250px;
	margin: 10px auto;
}

/* Lists */
nav.simpleList ul {
	margin: 0 10px 15px;
	background: #FFF;
	border: 1px solid #E5E5E5;
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3);
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}

nav.simpleList ul li {
	line-height: 45px;
	text-align: left;
	font-size: 100%;
	font-weight: bold;
	border-bottom: 1px solid #E5E5E5;
	background-repeat: no-repeat, no-repeat;
	background-position: 10px 50%, 100% 50%;
}

nav.simpleList ul li.bookForNow {
	background-size: 24px 24px, 19px 13px;
	background-image: url(../img/links/book-for-now.png), url(../img/seta.png);
}

nav.simpleList ul li.findForLater {
	background-size: 24px 24px, 19px 13px;
	background-image: url(../img/links/find-a-car-for-later.png), url(../img/seta.png);
}

nav.simpleList ul li.bookAdvance {
	background-size: 24px 24px, 19px 13px;
	background-image: url(../img/links/book-in-advance.png), url(../img/seta.png);
}

nav.simpleList ul li.nearestcarsearch {
	background-size: 24px 24px, 19px 13px;
	background-image: url(../img/links/nearest-car-internal.png), url(../img/seta.png);
}

nav.simpleList ul li.licenseplatesearch {
	background-size: 24px 24px, 19px 13px;
	background-image: url(../img/links/license-plate.png), url(../img/seta.png);
}

nav.simpleList ul li.listsearch {
	background-size: 24px 24px, 19px 13px;
	background-image: url(../img/links/search.png), url(../img/seta.png);
}

nav.simpleList ul li.account {
	background: url(../img/seta.png) no-repeat 100% 50%;
}

nav.simpleList ul li.cDetail {
    background-size: 20px 20px, 19px 13px;
    background-color: #f4f4f4;
    font-weight: normal;
    color: #666;
    font-size: 100%;
    text-shadow: 0 1px 1px white;
}

nav.simpleList ul li.cDetail a {
    padding: 0 30px 0 40px;
}

nav.simpleList ul li.cDetail a span:nth-child(1) {
    text-align: left;
    font-weight: bold;
    display: inline !important;
}

nav.simpleList ul li.cDetail a span:nth-child(2) {
    text-align: right;
    display: inline !important;
    float: right;
}

nav.simpleList ul li.addonDetail {
    background-image: url(../img/links/ios-webapp-add-on-list.png), url(../img/seta.png);
}

nav.simpleList ul li.promotionDetail {
    background-image: url(../img/links/ios-webapp-promotion-list.png), url(../img/seta.png);
}

nav.simpleList ul li:first-child {
	border-radius: 4px 4px 0 0;
	-moz-border-radius: 4px 4px 0 0;
	-webkit-border-radius: 4px 4px 0 0;
}
nav.simpleList ul li:last-child {
	border-radius: 0 0 4px 4px;
	-moz-border-radius: 0 0 4px;
	-webkit-border-radius: 0 0 4px;
}

nav.simpleList ul li.title {
	line-height: 26px;
	padding-left: 10px;
	background: none;
	background-color: #f4f4f4;
	font-weight: normal;
	color: #666;
	font-size: 100%;
	text-shadow: 0 1px 1px white;
}

nav.simpleList ul li.anotherTitle {
	line-height: 26px;
	padding-left: 10px;
	background: none;
	background-color: #fff;
	font-size: 100%;
	color: #000;
}

nav.simpleList ul li.link {
	background: #f4f4f4 url(../img/seta.png) no-repeat 100% 50%;
}


nav.simpleList ul li.link a {
	padding: 0;
	height: 45px;
	line-height: 45px;
}


nav.simpleList ul li span:nth-child(1) {
	text-align: right;
    width: 38%;
	display: inline-block;
	color: #333;
	font-size: 100%;
}

nav.simpleList ul li.link span:nth-child(2) {
	text-align: left;
	width: 60%;
	display: inline-block;
	overflow: hidden;
	text-overflow: ellipsis;
    white-space: nowrap;
	padding-right: 15px;
	color: #666666;
    font-weight: normal;
    padding-left: 10px;
    vertical-align: top;
}

nav.simpleList ul li.filter {
	line-height: normal;
	padding: 10px 0;
	background: none;
	background-color: #f4f4f4;
}

nav.simpleList ul li.filter span:nth-child(2) {
	width: 60%;
	display: inline-block;
	padding-left: 10px;
	color: #666;
	font-weight: normal;
	vertical-align: top;
}

nav.simpleList ul li:last-child {
	border-bottom: 0;
}

nav.simpleList ul li a {
	color: #333;
	padding-left: 45px;
	display: block;
}

nav.simpleList ul li.account a {
	padding-left: 10px;
}

nav.simpleList ul li.balance {
    padding: 0 10px 0 10px;
    height: 45px;
    line-height: normal;
    padding-top: 5px;
}

nav.simpleList ul li.balance div {
    float: left;
    width: 100%;
}

nav.simpleList ul li.balance div:nth-child(2) {
    font-weight: normal;
    color: #999;
    font-size: 80%;
}

/****************************** Three column list **/

nav.threeColumnList ul li {
    background: #FFF url(../img/seta.png) no-repeat 100% 50%;
    border-bottom: 1px solid #E5E5E5;
}

nav.threeColumnList ul li a {
    display: block;
    padding: 5px 0;
}

nav.threeColumnList  ul li a > div:nth-child(1) {
    width: 60px;
    height: 60px;
    margin: 0 10px;
    float: left;
}

nav.threeColumnList  ul li a > div.msg-read-true,
nav.threeColumnList  ul li a > div.msg-read-false {
    border: none !important;
    width: 13px !important;
    height: 60px;
    background: none !important;
}

nav.threeColumnList  ul li a > div.msg-read-false {
    background-size: 13px 13px;
    background: transparent url(../img/links/new-message-icon.png) no-repeat 50% 50% !important;
}

nav.threeColumnList  ul li a > div.msg-body {
    margin-left: 33px !important;
}

nav.threeColumnList  ul li a > div:nth-child(2) {
    height: 60px;
    margin-left: 80px;
    margin-right: 25px;
}

nav.threeColumnList  ul li a > div:nth-child(2) > div:nth-child(1) {
    width: 60%;
    float: left;
}

nav.threeColumnList  ul li a > div:nth-child(2) > div:nth-child(1) > span {
    font-size: 100%;
    float: left;
    width: 100%;
}
nav.threeColumnList  ul li a > div:nth-child(2) > div:nth-child(1) > span:nth-child(1) {
    font-weight: bold;
    color: #333;
}
nav.threeColumnList  ul li a > div:nth-child(2) > div:nth-child(1) > span:nth-child(2) {
    color: #333;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

nav.threeColumnList  ul li a > div:nth-child(2) > div:nth-child(1) > span:nth-child(3) {
    color: #999;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

nav.threeColumnList  ul li a > div:nth-child(2) > div:nth-child(2) {
    width: 40%;
    float: right;
}

nav.threeColumnList  ul li a > div:nth-child(2) > div:nth-child(2) > span {
    font-size: 100%;
    float: right;
    text-align: right;
    width: 100%;
}

nav.threeColumnList  ul li a > div:nth-child(2) > div:nth-child(2) > span:nth-child(1) {
    font-weight: bold;
    color: #333;
}

nav.threeColumnList  ul li a > div:nth-child(2) > div:nth-child(2) > span:nth-child(2) {
    color: #999;
    font-size: 90%;
}

nav.threeColumnList  ul li a > div:nth-child(2) > div:nth-child(2) > span.unavailable {
    color: #FF0000;
}

nav.threeColumnList  ul li a > div:nth-child(2) > div:nth-child(2) > span:nth-child(3) > span {
    padding: 10px 10px;
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

nav.threeColumnList span.showAddOn {
    background-image: url(../img/links/ios-webapp-add-on-list.png);
}
nav.threeColumnList span.showPromotion {
    background-image: url(../img/links/ios-webapp-promotion-list.png);
}

.ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/************************************ Two columns list */

nav.twoColumnList ul li {
    background: #FFF url(../img/seta.png) no-repeat 100% 50%;
    border-bottom: 1px solid #E5E5E5;
}

nav.twoColumnList ul li a {
    display: block;
    padding: 5px 0 0 10px;
    min-height: 45px;
}

nav.twoColumnList  ul li a > div:nth-child(1) {
    width: 60%;
    float: left;
}

nav.twoColumnList  ul li a > div:nth-child(1) > span {
    font-size: 100%;
    float: left;
    width: 100%;
}
nav.twoColumnList  ul li a > div:nth-child(1) > span:nth-child(1) {
    font-weight: bold;
    color: #333;
}
nav.twoColumnList  ul li a > div:nth-child(1) > span:nth-child(2) {
    color: #999;
    font-size: 90%;
}

nav.twoColumnList  ul li a > div:nth-child(2) {
    width: 40%;
    float: right;
    padding-right: 25px;
    text-align: right;
}

nav.twoColumnList ul li a > div:nth-child(2) > span{
    color: #999;
}

nav.twoColumnList ul li.transactions {

}

nav.twoColumnList ul li.transactions div {
    float: left;
    width: 50%;
    font-weight: bold;
    color: #333;
}

nav.twoColumnList ul li.transactions div:nth-child(4),
nav.twoColumnList ul li.transactions div:nth-child(5) {
    font-weight: normal;
    color: #999;
    font-size: 80%;
}

nav.twoColumnList ul li.transactions div:nth-child(2),
nav.twoColumnList ul li.transactions div:nth-child(5){
    text-align: right;
    padding-right: 25px;
}

/****************************** Panel detail **/
img.carImage {
	max-width: 58px;
	max-height: 58px;
    border: 1px solid rgba(0, 0, 0, 0.6);
    border-radius: 4px ;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}

nav.panel ul {
	margin: 0 10px 15px;
	background: #FFF;
	border: 1px solid #E5E5E5;
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3);
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	overflow: hidden;
}

nav.panel ul li a {
	color: #000;
	display: block;
	background: url(../img/seta.png) no-repeat 100% 50%;
}

ul li.white {
	background-color: #fff !important;
}

nav.panel ul li.link {
	background: #f4f4f4 url(../img/seta.png) no-repeat 100% 50%;
}

nav.panel ul li.link a {
	padding: 10px 0;
	font-size: 100%;
}

nav.panel ul li.link span:nth-child(1) {
	text-align: right;
    width: 38%;
	display: inline-block;
	color:#333;
}

nav.panel ul li.link span:nth-child(2) {
	text-align: left;
	width: 60%;
	display: inline-block;
    word-wrap: break-word;
	padding-right: 15px;
	color: #666666;
    font-weight: normal;
    padding-left: 10px;
    vertical-align: top;
}

nav.panel ul li.detail,
nav.panel ul li.link {
	text-align: left;
	font-size: 100%;
	font-weight: bold;
	color: #333;
	border-bottom: 1px solid #E5E5E5;
	text-shadow: 0 1px 1px white;
}

nav.panel ul li.image {	
	border-bottom: 1px solid #E5E5E5;
}

nav.panel ul li.image a {
	padding: 10px 0;
}

nav.panel ul li.imageCarClub,
nav.panel ul li.imageNoLink {	
	padding: 10px 0;
	border-bottom: 1px solid #E5E5E5;
}

nav.panel ul li:last-child {	
	border-bottom: none;
}

nav.panel ul li.promoRest {
    line-height: 0px !important;
    text-align: left;
    font-size: 100%;
    font-weight: bold;
    color: #333;
    text-shadow: 0 1px 1px white;
    padding: 11px 0px;
    background: none;
    background-color: #f4f4f4;
}

nav.panel ul li.promoRest:first-child {
    padding-top: 20px !important;
}
nav.panel ul li.promoRest:last-child {
    padding-bottom: 20px !important;
}

nav.panel ul li.promoRest span {
    display: inline-block;
}

nav.panel ul li.promoRest span:nth-child(1) {
    text-align: right;
    width: 38%;
}

nav.panel ul li.promoRest span:nth-child(2) {
    padding-left: 10px;
    color: #666;
    font-weight: normal;
    width: 60%;
    vertical-align: top;
}



nav.panel ul li.detail {
	padding: 10px 0;
	background: none;
	background-color: #f4f4f4;
}

nav.panel ul li.detail span {
	display: inline-block;
}

nav.panel ul li.detail span:nth-child(1) {
	text-align: right;
	width: 38%;
}

nav.panel ul li.detail span:nth-child(2) {
	padding-left: 10px;
	color: #666;
	font-weight: normal;
	width: 60%;
	vertical-align: top;
}

nav.panel ul li:last-child{
	border-bottom: 0;
}

nav.panel ul li.imageCarClub > div  {
	display: table-cell;
}

nav.panel ul li.imageCarClub > div > div:nth-child(1) {
    float: left;
   	margin: 0 10px;
}

nav.panel ul li.imageCarClub > div > div:nth-child(1) > div{
	border-radius: 4px ;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border: 1px solid rgba(0, 0, 0, 0.6);
	width: 60px;
	height: 60px;
	display:table-cell;
    vertical-align: middle;
}

nav.panel ul li.imageCarClub > div > div:nth-child(1) > div > img {
	display: block;
	margin: auto;
}

nav.panel ul li.imageCarClub > div > div:nth-child(2) {
	float: left;
	font-weight: bold;
	font-size: 100%;
	color: #333;
	padding-top: 20px;
}

nav.panel ul li.imageNoLink > div:nth-child(1),
nav.panel ul li.image a > div:nth-child(1){
	width: 60px;
	height: 60px;
	margin: 0 10px;
	float: left;
	text-align: center;
}

nav.panel  ul li.imageNoLink > div:nth-child(2),
nav.panel  ul li.image a > div:nth-child(2){
	height: 60px;
	margin-left: 80px;
	margin-right: 25px;
}

nav.panel ul li.imageNoLink > div:nth-child(2) > div:nth-child(1) > span,
nav.panel ul li.image a > div:nth-child(2) > div:nth-child(1) > span {
	font-size: 100%;
	float: left;
	width: 100%;
}

nav.panel ul li.imageNoLink > div:nth-child(2) > div:nth-child(1) > span:nth-child(1),
nav.panel ul li.image a > div:nth-child(2) > div:nth-child(1) > span:nth-child(1) {
	font-weight: bold;
	color: #333;
}

nav.panel  ul li.imageNoLink > div:nth-child(2) > div:nth-child(1) > span:nth-child(2),
nav.panel  ul li.image a > div:nth-child(2) > div:nth-child(1) > span:nth-child(2) {
	color: #333;
	display: inline-block;
	overflow: hidden;
	text-overflow: ellipsis;
    white-space: nowrap;
}

nav.panel  ul li.imageNoLink > div:nth-child(2) > div:nth-child(1) > span:nth-child(3),
nav.panel  ul li.image a > div:nth-child(2) > div:nth-child(1) > span:nth-child(3) {
	color: #999;
}

/************************************ Order navigation bar*/

nav.orderCriteria {
	height: 40px;
	background-color: #E4E4E4;
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3);
	padding-top: 2px;
}

nav.orderCriteria ul:first-child {
	float: left;
	padding-left: 10px;
}

nav.orderCriteria ul:last-child {
	float: right;
	padding-right: 10px;
}

nav.orderCriteria ul li {
	float: left;
	text-align: center;		
}

nav.orderCriteria ul li a{
	display:block;
	color: #333;
	text-shadow: 0 1px 1px white;
	font-weight: bold;
	height: 30px;
	width: 76px;
	border: 1px solid rgba(0, 0, 0, 0.6);
	font: bold 90% Arial, sans-serif;
	background: url('../img/bt_up_30px-height.png');
	background-size: 1px 30px;
	margin-left: -1px;
	line-height: 28px;
}

nav.orderCriteria ul li a.selected{
	background: url('../img/bt_down_30px-height.png');
	background-size: 1px 30px;
}

nav.orderCriteria ul li:first-child a{
	border-radius: 4px 0 0 4px;
	-moz-border-radius: 4px 0 0 4px;
	-webkit-border-radius: 4px 0 0 4px;
	margin-left: 1px;
}

nav.orderCriteria ul li:last-child a {
	border-radius: 0 4px 4px 0;
	-moz-border-radius: 0 4px 4px 0;
	-webkit-border-radius: 0 4px 4px 0;
}

nav.orderCriteria ul:last-child li a {
	width: 50px;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;	
}

nav.orderCriteria ul.mid {
    width: 220px;
    margin: 0 auto;
    float: none !important;
}
nav.orderCriteria ul.mid li a{
    width: 100px;
}

/************************************ No result list */
section#noresults {
	margin: 80px auto auto;
	text-align: center;
	height: 30px;
	color: #333;
	text-shadow: 0 1px 1px white;
}

section#noresults label:nth-child(1) {
	font-weight: normal;
}

section#noresultsdamage {
	margin: 10px auto auto;
	text-align: center;
	height: 30px;
	color: #999;
}

section#noresultsrestrictions {
    margin: 10px auto auto;
    text-align: center;
    height: 30px;
    font-weight: bold;
}

/* Custom selectBox */
.customComboBox {
	padding-right: 5px;
}
.customComboBox > textarea {
	border: 0;
	color: #333;
	width: 100%;
	padding: 0 10px;
	background-color: transparent;
}

.customComboBox > select,
.customComboBox > input[type="text"],
.customComboBox > input[type="number"],
.customComboBox > input[type="password"] {
	border: 0;
	color: #333;
	width: 100%;
	background-color: transparent;
	font-size: 100%
}

.fullWith {
	width: 100% !important;
	padding-left: 10px;
}
/*---------------------------------- PIN --*/

article.pin div {
	width: 130px;
	margin: auto auto 15px;
	text-align: center;	
}

article.pin div:nth-child(1) > label {
	font-size: 100%;
	display: block;
}

article.pin  div:nth-child(1) > label:nth-child(1) {
	font-weight: normal;
	color: #666;
	text-shadow: 0 1px 1px white;
}

article.pin div:nth-child(1) > label:nth-child(2) {
	color: #333;
}

article.pin div:nth-child(1) > label:nth-child(3) {
	color: #666;
}

article.pin div:nth-child(1) > label:nth-child(4) {
	font-size: 90%;
	color: #999;
}
	
article.pin div:nth-child(2) {
	background: #FFF;
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3);
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	overflow: hidden; 
}

article.pin div:nth-child(2) > input {
	width: 130px;
	line-height: 45px;
	height: 45px;
	border: 0;
	font-size: 100%;
	color: #333;
	padding-left: 10px;
}


article.pin div:nth-child(3) > input[type="submit"] {
	width: 130px;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	font-size: 110%;
    font-weight: bold;
	text-shadow: 0px -1px 1px rgba(0, 0, 0, 0.5);
	text-align: center;
	color: #FFF;
	line-height: 45px;
	height: 45px;
	display: block;
	background-color: #288b07;
	background-image: url(../img/bt_up_45px.png);
	background-size: 1px 45px;
	background-repeat: repeat-x;
	background-position: top left;
	border: 1px solid rgba(0, 0, 0, 0.3);
}

article.pin div:nth-child(3) > input[type="submit"]:active {
	background-image: url(../img/bt_down_45px.png);
	background-size: 1px 45px;
	border: 1px solid rgba(0, 0, 0, 0.5);
}


/** ************************************************/
#licsearch {
	margin-top: -7px; 
	background-image: url("../img/menu/sombra_menus_10px.png");
	background-size: 1px 5px;
    background-position: left bottom;
    background-repeat: repeat-x;
    padding-bottom: 5px;
}

#licsearch > section {
	height: 38px;
	padding-top: 6px;
	background-color: #E4E4E4;
	
}

#licensePlateBookForm > div {
	background: #FFF;
	border-radius: 12px;
	-moz-border-radius: 12px;
	-webkit-border-radius: 12px;
	overflow: hidden; 
	position: relative;
	margin: 0 10px;
	padding: 0 10px 0 10px;
	border: 1px solid rgba(0,0,0,0.3);
}

#licensePlateBookForm > div > input {
	line-height: 24px;
	height: 24px;
	border: 0;
	font-size: 90%;
	color: #333;
	width: 100%;
}

input.autocomplete {
	background: #fff url('../img/ajax-loader-input.gif') no-repeat 100% 50%;
}

#licensePlateBookForm > div > div {
	background: #fff;
	padding: 12px;
	position: absolute;
	right: 10px;
	top: 0;
}

#licensePlateBookForm > div > div.delete {
	background: #fff url('../img/clear.png') no-repeat right 50%;
	cursor: pointer;
}
/*-----------------------------------------------------*/

.warningMessage {
	margin-bottom: 10px;
	text-align: center;
	color: #666;
	padding: 0 10px;
	text-shadow: 0 1px 1px white;
	font-size: 90%;
}

/* Errors */
#loginErrors .errors{
	width: 250px;
	margin: 10px auto;
}

.msg,
.errors {
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3);
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	min-height: 45px;
	padding: 0 10px 0 45px;
	margin: 0 10px 10px;
}

.errors {
	border: 1px solid #EE6D6F;
	background: #FABDA7 url(../img/error.png) no-repeat top left;
}

.errors div {
	font: normal 90% Helvetica, Arial, sans-serif;
	padding-top: 10px;
	text-align: left;
	color: #CC0000;
}

.globalErrors .errors div {
	display: none;
}

.errors li {
	color: #cc0000;
	font: normal 90% Helvetica, Arial, sans-serif;
	list-style: none;
}

.globalErrors .errors li {
	color: #CC0000;
	font: normal 90% Helvetica, Arial, sans-serif;
	padding-top: 10px;
}

.errors li:last-child {
	margin-bottom: 10px;
}

/* Error page */
.newerrors {
	padding: 0 10px;
	color: #333;
	margin: 80px auto auto;
	text-align: center;
	text-shadow: 0 1px 0 white;
}

.newerrors label:first-child{
	font-weight: bold;
}

.newerrors label a{
	color: #0099FF;
}

.redText{
    color: #ff0000 !important;
}

/* Messages */
.msg {
	border: 1px solid #AACE65;
	background: #DDFF85 url(../img/success.png) no-repeat top left;
}

.msg li {
	color: #669900;
	font: normal 14px Helvetica, Arial, sans-serif;
	padding: 15px 0 10px 0;
}

/* Theme Classes */
.map {
	background-image: url(../img/theme/mapa.png), url(../img/theme/background_login.png);
	background-size: 439px 408px, 5px 9px;
	background-repeat: no-repeat, repeat;
	background-position: 50% 0, top left;
}

.darkred,
.darkred .loginBtn {
	background-color: #660000 !important;
}

.red,
.red .loginBtn {
      background-color: #cc1a1a !important;
}

.orange,
.orange .loginBtn {
    background-color: #f09000 !important; 
}

.lightgreen,
.lightgreen .loginBtn {
    background-color: #78cc0a !important;
}

.darkgreen,
.darkgreen .loginBtn {
    background-color: #095909 !important;
}

.lightblue,
.lightblue .loginBtn {
    background-color: #008be8 !important;
}
.darkblue,
.darkblue .loginBtn {
    background-color: #161694 !important;
}

.purple,
.purple .loginBtn {
    background-color: #4a0d86 !important;
}

.pink,
.pink .loginBtn {
    background-color: #cc00cc
}

.darkgray,
.darkgray .loginBtn {
    background-color: #1a1a1a
}

/*****/

.warmdarkred,
.warmdarkred .loginBtn {
	background-size: 320px 410px;
	background: #660000 url(../img/theme/660000/webapp-splash-gradient-normal-660000.png) no-repeat 50% 0;
	background-size: 100%;
}

.warmred,
.warmred .loginBtn {
	background-size: 320px 410px;
    background: #cc1a1a url(../img/theme/cc1a1a/webapp-splash-gradient-normal-cc1a1a.png) no-repeat 50% 0;
    background-size: 100%;
}

.warmorange,
.warmorange .loginBtn {
	background-size: 320px 410px;
	background: #f09000 url(../img/theme/f09000/webapp-splash-gradient-normal-f09000.png) no-repeat 50% 0;
	background-size: 100%;
}

.warmlightgreen,
.warmlightgreen .loginBtn {
	background-size: 320px 410px;
	background: #78cc0a url(../img/theme/78cc0a/webapp-splash-gradient-normal-78cc0a.png) no-repeat 50% 0;
    background-size: 100%;
}

.warmdarkgreen,
.warmdarkgreen .loginBtn {
	background-size: 320px 410px;
	background: #095909 url(../img/theme/095909/webapp-splash-gradient-normal-095909.png) no-repeat 50% 0;
	background-size: 100%;
}

.warmlightblue,
.warmlightblue .loginBtn {
	background-size: 320px 410px;
	background: #008be8 url(../img/theme/008be8/webapp-splash-gradient-normal-008be8.png) no-repeat 50% 0;
	background-size: 100%;
}

.warmdarkblue,
.warmdarkblue .loginBtn {
	background-size: 320px 410px;
	background: #161694 url(../img/theme/161694/webapp-splash-gradient-normal-161694.png) no-repeat 50% 0;
	background-size: 100%;
}

.warmpurple,
.warmpurple .loginBtn {
	background-size: 320px 410px;
	background: #4a0d86 url(../img/theme/4a0d86/webapp-splash-gradient-normal-4a0d86.png) no-repeat 50% 0;
	background-size: 100%;
}

.warmpink,
.warmpink .loginBtn {
	background-size: 320px 410px;
	background: #cc00cc url(../img/theme/cc00cc/webapp-splash-gradient-normal-cc00cc.png) no-repeat 50% 0;
	background-size: 100%;
}

.warmdarkgray,
.warmdarkgray .loginBtn {
	background-size: 320px 410px;
	background: #1a1a1a url(../img/theme/1a1a1a/webapp-splash-gradient-normal-1a1a1a.png) no-repeat 50% 0;
	background-size: 100%;
}

/* Contacts image theme */

li.imageCarClub div.mapdarkred {
	background: transparent url(../img/theme/660000/ios-webapp-contacts-world-normal-660000.png) no-repeat 50% 50%;
	background-size: 64px 64px;
}

li.imageCarClub div.mapred {
	background: transparent url(../img/theme/cc1a1a/ios-webapp-contacts-world-normal-cc1a1a.png) no-repeat 50% 50%;
	background-size: 64px 64px;
}

li.imageCarClub div.maporange {
	background: transparent url(../img/theme/f09000/ios-webapp-contacts-world-normal-f09000.png) no-repeat 50% 50%;
	background-size: 64px 64px;
}
li.imageCarClub div.maplightgreen {
	background: transparent url(../img/theme/78cc0a/ios-webapp-contacts-world-normal-78cc0a.png) no-repeat 50% 50%;
	background-size: 64px 64px;
}

li.imageCarClub div.mapdarkgreen {
	background: transparent url(../img/theme/095909/ios-webapp-contacts-world-normal-095909.png) no-repeat 50% 50%;
	background-size: 64px 64px;
}

li.imageCarClub div.maplightblue {
	background: transparent url(../img/theme/008be8/ios-webapp-contacts-world-normal-008be8.png) no-repeat 50% 50%;
	background-size: 64px 64px;
}

li.imageCarClub div.mapdarkblue {
	background: transparent url(../img/theme/161694/ios-webapp-contacts-world-normal-161694.png) no-repeat 50% 50%;
	background-size: 64px 64px;
}

li.imageCarClub div.mappurple {
	background: transparent url(../img/theme/4a0d86/ios-webapp-contacts-world-normal-4a0d86.png) no-repeat 50% 50%;
	background-size: 64px 64px;
}

li.imageCarClub div.mappink {
	background: transparent url(../img/theme/cc00cc/ios-webapp-contacts-world-normal-cc00cc.png) no-repeat 50% 50%;
	background-size: 64px 64px;
}

li.imageCarClub div.mapdarkgray {
	background: transparent url(../img/theme/1a1a1a/ios-webapp-contacts-world-normal-1a1a1a.png) no-repeat 50% 50%;
	background-size: 64px 64px;
}

/*********/
li.imageCarClub div.warmdarkred {
	background: transparent url(../img/theme/660000/ios-webapp-contacts-warm-normal-660000.png) no-repeat 50% 50%;
	background-size: 64px 64px;
}

li.imageCarClub div.warmred {
	background: transparent url(../img/theme/cc1a1a/ios-webapp-contacts-warm-normal-cc1a1a.png) no-repeat 50% 50%;
	background-size: 64px 64px;
}

li.imageCarClub div.warmorange {
	background: transparent url(../img/theme/f09000/ios-webapp-contacts-warm-normal-f09000.png) no-repeat 50% 50%;
	background-size: 64px 64px;
}
li.imageCarClub div.warmlightgreen {
	background: transparent url(../img/theme/78cc0a/ios-webapp-contacts-warm-normal-78cc0a.png) no-repeat 50% 50%;
	background-size: 64px 64px;
}

li.imageCarClub div.warmdarkgreen {
	background: transparent url(../img/theme/095909/ios-webapp-contacts-warm-normal-095909.png) no-repeat 50% 50%;
	background-size: 64px 64px;
}

li.imageCarClub div.warmlightblue {
	background: transparent url(../img/theme/008be8/ios-webapp-contacts-warm-normal-008be8.png) no-repeat 50% 50%;
	background-size: 64px 64px;
}

li.imageCarClub div.warmdarkblue {
	background: transparent url(../img/theme/161694/ios-webapp-contacts-warm-normal-161694.png) no-repeat 50% 50%;
	background-size: 64px 64px;
}

li.imageCarClub div.warmpurple {
	background: transparent url(../img/theme/4a0d86/ios-webapp-contacts-warm-normal-4a0d86.png) no-repeat 50% 50%;
	background-size: 64px 64px;
}

li.imageCarClub div.warmpink {
	background: transparent url(../img/theme/cc00cc/ios-webapp-contacts-warm-normal-cc00cc.png) no-repeat 50% 50%;
	background-size: 64px 64px;
}

li.imageCarClub div.warmdarkgray {
	background: transparent url(../img/theme/1a1a1a/ios-webapp-contacts-warm-normal-1a1a1a.png) no-repeat 50% 50%;
	background-size: 64px 64px;
}


/* MODAL */
.confirm,
.confirm2,
.modal {
	display: none;
	position: fixed;
	z-index: 1100;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
}

body.loading {
    overflow: hidden;   
}

body.loading .modal {
    display: block;
    background: rgba(153, 153, 153, 0.7) url('../img/ajax-loader.gif') 50% 50% no-repeat;
}

/* Confirm modal */

body.confirmation {
    overflow: hidden;   
}

body.confirmation .confirm,
body.confirmation .confirm2 {
    display: block;
    background: rgba(153, 153, 153, 0.7);
    padding: 80px 10px 0 10px;
}

.confirm article,
.confirm2 article {
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	margin: auto;
	background-color: #f4f4f4;
	border: 1px solid #E5E5E5;
	box-shadow: 0px 7px 5px rgba(0, 0, 0, 0.4);
	text-align: left;
}

.confirm article section,
.confirm2 article section {
	padding: 30px;
}

.confirm article section > .alertBtn:last-child,
.confirm2 article section > .alertBtn:last-child {
	margin-bottom: 0px;
}

.confirm article h2,
.confirm2 article h2 {
	color: #333;
	font-weight: bold;
	margin: 0 10px 0px 10px;
	font-size: 100%;
}

.confirm article h3,
.confirm2 article h3 {
	margin: 0 10px 0px 10px;
	color: #333;
	font-weight: normal;
	margin-bottom: 20px;
	font-size: 100%;
}
#unlocking,
#locking {
	text-align: center;
}

#statePooling section{
	width: 255px;
	margin: auto;
	text-align: center;
}

#statePooling div {
	color: #999;
	font-size:  100%;
	font-weight: normal;
}

.uppercase {
	text-transform : uppercase;
}

.noBorder {
	border: 0 !important;
}

.promoTitle {
    height: 20px;
    background-color: rgba(153, 153, 153, 0.7);
    background-image: url(../img/menu/sombra_menu_20px_flipped.png), url(../img/menu/sombra_menu_20px.png);
    background-position: bottom left, top left;
    background-repeat: repeat-x, repeat-x;
    background-size: 1px 5px;
    font-weight: bold;
    padding-left: 10px;
}

.correctMargin {
    margin-top: -10px;
}

#nopromotions {
    margin: auto auto;
    text-align: center;
    line-height: 45px;
    color: #333;
    text-shadow: 0 1px 1px white;
}

.promotionsGray {
    background-color: #f3f3f3 !important;
}

.promotionsLightGray {
    background-color: #f8f8f8 !important;
}

nav.threeColumnList ul li a.high > div:nth-child(2) > div:nth-child(1) > span:nth-child(2),
nav.threeColumnList ul li a.high > div:nth-child(2) > div:nth-child(1) > span:last-child {
    font-size: 80% !important;
}

section#promotionsDiscount {
    margin: auto auto;
    text-align: center;
    height: 45px;
    color: #333;
    text-shadow: 0 1px 1px white;
}

section#promotionsDiscount label:nth-child(1) {
    font-weight: normal;
}

/********************************************************************* Media Queries */

@media screen and (-webkit-min-device-pixel-ratio: 1.5),
	   screen and (min-device-pixel-ratio: 1.5),
	   screen and (min-resolution: 1.5dppx) {
	   
   	.bottomShadow,
   	.bottomShadow2,
	#licsearch {
   		background-image: url(../img/menu/sombra_menu_20px.png);
   	}
	   
	section#footer {
		background-image: url(../img/webapp-mobiag-logo-spash@2x.png);
	}
	
	.menuBtn {
		background-image: url(../img/bt_up_60px.png);
	}
	
	.menuBtn:active {
		background-image: url(../img/bt_down_60px.png);
	}
	
	.bigBtn {
		background-image: url(../img/bt_up_180px.png);
	}
	
	.bigBtn:active {
		background-image: url(../img/bt_down_180px.png);
	}
	
	.submitBtn {
		background-image: url(../img/bt_up_90px.png);
	}
	
	.submitBtn:active {
		background-image: url(../img/bt_down_90px.png);
	}

    nav.bonusCriteria ul li a,
	nav.orderCriteria ul li a {
		background-image: url('../img/bt_up_60px-height.png');
	}

    nav.bonusCriteria ul li a.selected,
	nav.orderCriteria ul li a.selected {
		background-image: url('../img/bt_down_60px-height.png');
	}
	
	article.pin div:nth-child(3) > input[type="submit"] {
		background-image: url(../img/bt_up_90px.png);
	}
	
	article.pin div:nth-child(3) > input[type="submit"]:active {
		background-image: url(../img/bt_down_90px.png);
	}
	
	span#nearestCar {
		background-image: url(../img/links/nearest-car@2x.png);
	}
	
	nav.simpleList ul li.bookForNow {
		background-image: url(../img/links/book-for-now@2x.png), url(../img/seta.png);
	}
	
	nav.simpleList ul li.findForLater {
		background-image: url(../img/links/find-a-car-for-later@2x.png), url(../img/seta.png);
	}
	
	nav.simpleList ul li.bookAdvance {
		background-image: url(../img/links/book-in-advance@2x.png), url(../img/seta.png);
	}
	
	nav.simpleList ul li.nearestcarsearch {
		background-image: url(../img/links/nearest-car-internal@2x.png), url(../img/seta.png);
	}
	
	nav.simpleList ul li.licenseplatesearch {
		background-image: url(../img/links/license-plate@2x.png), url(../img/seta.png);
	}
	
	nav.simpleList ul li.listsearch {
		background-image: url(../img/links/search@2x.png), url(../img/seta.png);
	}
	
	nav.threeColumnList  ul li a > div.msg-read-false {
		background-image: url(../img/links/new-message-icon@2x.png);
	}

    nav.threeColumnList span.showAddOn {
        background-image: url(../img/links/ios-webapp-add-on-list@2x.png);
    }
    nav.threeColumnList span.showPromotion {
        background-image: url(../img/links/ios-webapp-promotion-list@2x.png);
    }
	
	nav#menu ul li.booking {
		background-image: url(../img/menu/bookacar-inactive@2x.png), url(../img/menu/sombra_menu_20px.png);
	}
	
	nav#menu ul li.bookingActive {
		background-image: url(../img/menu/bookacar-active@2x.png), url(../img/menu/sombra_menu_20px.png), url(../img/bt_down_90px.png);
	}
	
	nav#menu ul li.trip {
		background-image: url(../img/menu/trip-inactive@2x.png);
	}
	
	nav#menu ul li.tripActive {
		background-image: url(../img/menu/trip-active@2x.png), url(../img/bt_down_90px.png);
	}
	
	nav#menu ul li.recent {
		background-image: url(../img/menu/recent-inactive@2x.png);
	}
	
	nav#menu ul li.recentActive {
		background-image: url(../img/menu/recent-active@2x.png), url(../img/bt_down_90px.png);
	}
	
	nav#menu ul li.messages {
		background-image: url(../img/menu/messages-inactive@2x.png);
	}
	
	nav#menu ul li.messagesActive {
		background-image: url(../img/menu/messages-active@2x.png), url(../img/bt_down_90px.png);
	}
	
	nav#menu ul li.contacts {
		background-image: url(../img/menu/contacts-inactive@2x.png);
	}
	
	nav#menu ul li.contactsActive {
		background-image: url(../img/menu/contacts-active@2x.png), url(../img/bt_down_90px.png);
	}
	
	nav#menu ul li.preferences {
		background-image: url(../img/menu/preferences-inactive@2x.png);
	}
	
	nav#menu ul li.preferencesActive {
		background-image: url(../img/menu/preferences-active@2x.png), url(../img/bt_down_90px.png);
	}
	
	nav#menu ul li.account {
		background-image: url(../img/menu/account-inactive@2x.png), url(../img/menu/sombra_menu_20px_flipped.png);
	}
	
	nav#menu ul li.accountActive {
		background-image: url(../img/menu/account-active@2x.png), url(../img/menu/sombra_menu_20px_flipped.png), url(../img/bt_down_90px.png);
	}

    nav#menu ul li.bonus {
        background-image: url(../img/menu/bonus-account-inactive@2x.png), url(../img/menu/sombra_menu_20px_flipped.png);
    }

    nav#menu ul li.bonusActive {
        background-image: url(../img/menu/bonus-account-active@2x.png), url(../img/menu/sombra_menu_20px_flipped.png), url(../img/bt_down_90px.png);
    }

    nav#menu ul li.promotions {
        background-image: url(../img/menu/promotions-inactive@2x.png), url(../img/menu/sombra_menu_20px_flipped.png);
    }

    nav#menu ul li.promotionsActive {
        background-image: url(../img/menu/promotions-active@2x.png), url(../img/menu/sombra_menu_20px_flipped.png), url(../img/bt_down_90px.png);
    }
	
	.alertBtn,
	.linkBtn,
	.alertBtn:active,
	.linkBtn:active {
		background-image: url(../img/bt_down_90px.png);
	}
	
	/**App theme*/
	.map {
		background-image: url(../img/theme/mapa@2x.png), url(../img/theme/background_login@2x.png);
	}
	
	.warmdarkred,
	.warmdarkred .loginBtn {
		background-image: url(../img/theme/660000/webapp-splash-gradient-retina-660000.png);
	}
	
	.warmred,
	.warmred .loginBtn {
	      background-image: url(../img/theme/cc1a1a/webapp-splash-gradient-retina-cc1a1a.png);
	}
	
	.warmorange,
	.warmorange .loginBtn {
		background-image: url(../img/theme/f09000/webapp-splash-gradient-retina-f09000.png);
	}
	
	.warmlightgreen,
	.warmlightgreen .loginBtn {
		background-image: url(../img/theme/78cc0a/webapp-splash-gradient-retina-78cc0a.png);
	}
	
	.warmdarkgreen,
	.warmdarkgreen .loginBtn {
		background-image: url(../img/theme/095909/webapp-splash-gradient-retina-095909.png);
	}
	
	.warmlightblue,
	.warmlightblue .loginBtn {
		background-image: url(../img/theme/008be8/webapp-splash-gradient-retina-008be8.png);
	}
	
	.warmdarkblue,
	.warmdarkblue .loginBtn {
		background-image: url(../img/theme/161694/webapp-splash-gradient-retina-161694.png);
	}
	
	.warmpurple,
	.warmpurple .loginBtn {
		background-image: url(../img/theme/4a0d86/webapp-splash-gradient-retina-4a0d86.png);
	}
	
	.warmpink,
	.warmpink .loginBtn {
		background-image: url(../img/theme/cc00cc/webapp-splash-gradient-retina-cc00cc.png);
	}
	
	.warmdarkgray,
	.warmdarkgray .loginBtn {
		background-image: url(../img/theme/1a1a1a/webapp-splash-gradient-retina-1a1a1a.png);
	}		
	
	/* Contacts image theme */

	li.imageCarClub div.mapdarkred {
		background-image: url(../img/theme/660000/ios-webapp-contacts-world-retina-660000.png);
	}
	
	li.imageCarClub div.mapred {
		background-image: url(../img/theme/cc1a1a/ios-webapp-contacts-world-retina-cc1a1a.png);		
	}
	
	li.imageCarClub div.maporange {
		background-image: url(../img/theme/f09000/ios-webapp-contacts-world-retina-f09000.png);		
	}
	
	li.imageCarClub div.maplightgreen {
		background-image: url(../img/theme/78cc0a/ios-webapp-contacts-world-retina-78cc0a.png);		
	}
	
	li.imageCarClub div.mapdarkgreen {
		background-image: url(../img/theme/095909/ios-webapp-contacts-world-retina-095909.png);		
	}
	
	li.imageCarClub div.maplightblue {
		background-image: url(../img/theme/008be8/ios-webapp-contacts-world-retina-008be8.png);		
	}
	
	li.imageCarClub div.mapdarkblue {
		background-image: url(../img/theme/161694/ios-webapp-contacts-world-retina-161694.png);		
	}
	
	li.imageCarClub div.mappurple {
		background-image: url(../img/theme/4a0d86/ios-webapp-contacts-world-retina-4a0d86.png);		
	}
	
	li.imageCarClub div.mappink {
		background-image: url(../img/theme/cc00cc/ios-webapp-contacts-world-retina-cc00cc.png);		
	}
	
	li.imageCarClub div.mapdarkgray {
		background-image: url(../img/theme/1a1a1a/ios-webapp-contacts-world-retina-1a1a1a.png);		
	}
	
	/*********/
	li.imageCarClub div.warmdarkred {
		background-image: url(../img/theme/660000/ios-webapp-contacts-warm-retina-660000.png);		
	}
	
	li.imageCarClub div.warmred {
		background-image: url(../img/theme/cc1a1a/ios-webapp-contacts-warm-retina-cc1a1a.png);		
	}
	
	li.imageCarClub div.warmorange {
		background-image: url(../img/theme/f09000/ios-webapp-contacts-warm-retina-f09000.png);		
	}
	li.imageCarClub div.warmlightgreen {
		background-image: url(../img/theme/78cc0a/ios-webapp-contacts-warm-retina-78cc0a.png);		
	}
	
	li.imageCarClub div.warmdarkgreen {
		background-image: url(../img/theme/095909/ios-webapp-contacts-warm-retina-095909.png);		
	}
	
	li.imageCarClub div.warmlightblue {
		background-image: url(../img/theme/008be8/ios-webapp-contacts-warm-retina-008be8.png);
	}
	
	li.imageCarClub div.warmdarkblue {
		background-image: url(../img/theme/161694/ios-webapp-contacts-warm-retina-161694.png);		
	}
	
	li.imageCarClub div.warmpurple {
		background-image: url(../img/theme/4a0d86/ios-webapp-contacts-warm-retina-4a0d86.png);		
	}
	
	li.imageCarClub div.warmpink {
		background-image: url(../img/theme/cc00cc/ios-webapp-contacts-warm-retina-cc00cc.png);		
	}
	
	li.imageCarClub div.warmdarkgray {
		background-image: url(../img/theme/1a1a1a/ios-webapp-contacts-warm-retina-1a1a1a.png);		
	}
}