/****** LOGIN MODAL ******/

.square {
    border-radius: 25px;
    border: 2px solid black;
    padding: 20px;
    width: 600px;
    height: 520px;
    left: 31.5%;
    top: 10%;
    position: absolute;
    overflow: hidden;
    display: block;
}

.square-content{
    position:  absolute;
    top: 10%;
    left: 0;
    bottom: 0;
    right: 0;
    color: white;
}

.square-content div {
    display: table;
    width: 100%;
    height: 100%;
}

.square-content span {
    display: table-cell;
    text-align: center;
    color: black;
    font-style: normal;
    font-weight: bold;
    font: 40px Verdana, Geneva, sans-serif;
}

.square-content2{
    position:  absolute;
    top: 30%;
    left: 0;
    bottom: 0;
    right: 0;
    color: white;
}

.square-content2 form {
    text-align: center;
}

.square-content2 .email,.pass{
    width: 80%;
    height: 60px;
    border: 2px solid dimgrey;
    border-radius: 25px;
    font-style: normal;
    font-weight: bold;
    font: 25px Verdana, Geneva, sans-serif;
    padding-left: 30px;
    color: black;
}

.square-content2 .login{
    width: 80%;
    height: 60px;
    border: 2px solid dimgrey;
    border-radius: 25px;
    font-style: normal;
    font-weight: bold;
    font: 25px Verdana, Geneva, sans-serif;
    background-color: limegreen;
}

.login:hover {
    border: 3.5px solid black;
    color: red;
    font-weight: bold;
}

.square-content2 .remember{
    width: 30px;
    height: 30px;
    margin-right: 200px;
}


.text {
    font-style: normal;
    font-weight: bold;
    color: black;
    font: 18px Verdana, Geneva, sans-serif;
    margin-top: -30px;
}

.errorMsg {
    font-style: normal;
    color: red;
    font: 16px Verdana, Geneva, sans-serif;
    margin-left: -250px;
}

#emailError {
    margin-right: 15px;
}
