html, body{
	height: 100%;
}
#map{
	position:absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 45px;
}

.mapMenu {
	top: 346px;
}

.mapLegend {
	top: 295px;
}

.maplocation {
	top: 90px !important;
}

.olControlAttribution {
	position: absolute;
	font-size: 10px;
	bottom: 0 !important;
	right: 0 !important;
	background: rgba(0, 0, 0, 0.1);
	font-family: Arial;
	padding: 2px 4px;
	border-radius: 5px 0 0 0;
}

#title,#tags,#shortdesc {
	display: none;
}

.ui-content {
	padding: 0;
}

.ui-footer {
	text-align: center;
	padding: 5px 0;
}

.portrait,.portrait #mappage {
	min-height: 0;
}
/*.portrait, .portrait .ui-page{*/
/*min-height: 0;*/
/*}*/

.olControlAttribution {
	font-size: 10px;
	bottom: 5px;
	right: 5px;
}

#navigation {
	position: absolute;
	bottom: 70px;
	left: 10px;
	z-index: 1000;
}

#navigation .ui-btn-icon-notext {
	display: block;
	padding: 7px 6px 7px 8px;
}

#title,#tags,#shortdesc {
	display: none;
}

.ui-icon-check {
	opacity: 0.3;
}

.checked .ui-icon-check {
	opacity: 1;
}

.ui-icon-locate {
	background-image: url(img/locate.png);
}

.ui-icon-layers {
	background-image: url(img/openlayers.png);
}

.ui-content .ui-listview-inset,#search_results {
	margin: 1em;
}

.ui-content .ui-listview {
	margin: 0;
}

#details-list li {
	padding: 15px 10px;
}

div.olControlZoom {
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.4);
    border-radius: 4px 4px 4px 4px;
    left: 8px;
    padding: 2px;
    position: absolute;
    top: 8px;
}

div.olControlZoom a {
    background: none repeat scroll 0 0 rgba(0, 60, 136, 0.5);
    color: white;
    display: block;
    font-family: sans-serif;
    font-size: 28px;
    font-weight: bold;
    height: 32px;
    line-height: 28px;
    margin: 1px;
    padding: 0;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 0 3px rgba(0, 0, 0, 0.8);
    width: 32px;
}
a.olControlZoomIn {
    border-radius: 4px 4px 0 0;
}
a.olControlZoomOut {
    border-radius: 0 0 4px 4px;
}
div.olControlZoom a:hover {
    background: none repeat scroll 0 0 rgba(0, 60, 136, 0.7);
}

.olLayerGrid .olTileImage {
    -moz-transition: opacity 0.2s linear 0s;
}
img.olTileImage {
}

#streetSearch div.holder {
	background: transparent url(../img/menu/sombra_menus_10px.png) repeat-x top bottom;
	padding: 0 10px;
}

#streetSearch div.inputHolder {
	background: #FFF;
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3);
	border-radius: 12px;
	-moz-border-radius: 12px;
	-webkit-border-radius: 12px;
	overflow: hidden; 
	position: relative;
	padding: 0 10px 0 10px;
}

#streetSearch div.inputHolder input[type="text"]{
	line-height: 24px;
	height: 24px;
	border: 0;
	font-size: normal;
	color: #999;
	width: 100%;
}
div#streetSearch input{
	float: left;
}

div#searchResults {
	z-index: 5000;
	position:absolute;
    left: 0;
    right: 0;
    bottom: 0;
}


























